@import './../../assets/scss/variables.scss';

.page {
  font-family: 'Source Sans 3', 'Open Sans', sans-serif;

  &__logo {
    display: block;
    margin: 40px auto;

    @media (max-width: $screen-md) {
      margin: 20px auto;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (max-width: $screen-md) {
      flex-direction: column;
      padding: 0 20px;
    }

    & > *:first-child {
      margin-right: 20px;

      @media (max-width: $screen-md) {
        flex-direction: column;
        margin: auto 0 30px;
      }
    }
  }
}
