@import './../../assets/scss/variables.scss';

.container {
  width: 500px;

  @media (max-width: $screen-md) {
    width: 100%;
  }
}

.button {
  font-family: 'Source Sans 3', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;

  cursor: pointer;
  border: 0;
  margin: 20px 0 50px;
  width: 100%;
  background-color: #2196f3;
  padding: 15px 20px;
  border-radius: 5px;
}
