@import './../../scss/variables.scss';

/* Style the tab */
.tabs {
  display: flex;
  justify-content: space-around;
  // max-width: 500px;
  width: 100%;

  //   overflow: hidden;
  // border: 1px solid #DFE5EC;
  background-color: #ffffff;
  border-radius: 5px;

  &__item {
    width: 100%;
    text-align: center;
    border: 0;

    color: #4a4a4a;

    border: 1px solid #dfe5ec;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;

    background-color: inherit;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.1s;

    @media (max-width: 360px) {
      padding: 4px 6px;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:not(:last-child) {
      border-right: 0;
    }

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &:hover {
      background-color: #eeeeee;
    }

    &.active {
      border-color: #2196f3;
      color: #fff;
      background-color: #2196f3;
    }
  }
}

.container {
  width: 500px;

  @media (max-width: $screen-md) {
    width: 100%;
  }
}

.button {
  border: 0;
  cursor: pointer;
  margin: 20px 0 50px;
  width: 100%;
  background-color: #2196f3;
  padding: 15px 20px;
  border-radius: 5px;

  color: #fff;
  font-family: 'Source Sans 3', sans-serif;
  // font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
